@{

    <h1>@ViewBag.Sobre</h1>
    <br />
    <p>
        <h3>

            @ViewBag.Message A Anexs naceu da vontade em criar experiências digitais, sempre de maneira única para cada cliente. Atuamos em soluções de TI, desenvolvimento de sistemas de Gestão (ERP),
            além de desenvolvimento de aplicativos e sites. Acreditamos que sites e aplicativos não devem ser apenas visualmente atrativos, mas sim proporcionar experiências que os usuários vão se lembrar.
        </h3>
    </p>




}



