@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Anexs Tecnologia</h1>
    <p class="lead">Trabalhe conosco.</p>
    <p><a href="http://anexs.com.br/" class="btn btn-primary btn-lg">Visite o site &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Formulário de incrição</h2>

        <p><a class="btn btn-default" href="https://localhost:44356/Home/About"> Clique aqui &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Sobre</h2>

        <p><a class="btn btn-default" href="https://localhost:44356/Home/Contact"> Clique aqui &raquo;</a></p>
    </div>

</div>


